{% extends 'layout.html' %}

{% block content %}
    <h2 class="title">Your Dream, Your Speakers</h2>
 
    <p>Welcome to something NEW and exciting!</p>
    <p>Building a speaker that your excited about instead
        of the boring old boxes with mediocre sound that we see and hear day in and day out.
    </p>
    <p>But don't just take my word for it, checkout some previous
        work in the &nbsp<u><a href="/gallery">Gallery</a></u>, find out
        more about DentedZebra Speaker under the &nbsp<u><a href="/about">About Us</a></u>
        section, and even see our &nbsp<u><a href="/process">Process</a></u> and how it would
        all work if you did decide to build a speaker with us.
    </p>
    <p>If you decide to pull the trigger go to the <u><a href="/contact">Contact</a></u> 
        section to start your journey and make a speaker you will adore.</p>

    <h2 class="title">Welcome to a new look and a better sound.</h2>
{% endblock %}