{% extends 'layout.html' %}

{% block content %}
   <h2 class="title">It All Begins Here</h2>
   <p>
      We go through a fairly extensive process to make sure that
      what we are designing is exactly what you want, and we don't
      cut any corners.
   </p>
   <h4><u>Getting Your Design</u></h4>
   <p>To begin, we need your idea. What you want, how big 
      you want it to be, if there are any designs or pictures,
      all that cool stuff. From there we come up with a digital
      concept design for you to checkout and change how you want.
   </p>
   <p>For example:</p>
   <div class="process-container">
      <img class="process-image" src="../static/images/banner.png">
   </div>
{% endblock %}